 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;    
    color:white;  
}
/* En esta parte se realizan las configuraciones y reglas establecidas en la consigna*/
body {
    font-family: 'Lato', sans-serif;  
    line-height: 120%;
}

footer, header {
    height: 90px;
    color: #fbfbfb;
}

p {          
    font-size: 18px;
    line-height: 120%;    
    margin: 20px 0 auto; 
    text-align: justify;
    align-content: center;
}

.txt-btn, footer {
    background-color: #af599e;
}

.txt-btn {
    width: 220px;
    max-width: 300px;
    height: 2em;
    font-size: 20px;
    text-align: center;
    align-items: center;
    color: white;
    margin: 2em auto;
    border-radius: 15px;
    padding: 8px 0;
}

.txt-btn a, .txt-btn a:visited, .txt-btn a:checked {
    text-decoration: none;
    color: white;
}

h1, h2, p {
    color: #0f0f0f;
}

h1, h2 {
    font-size: 36px;
    text-align: center;
    margin: 1.5em 0;
    height: auto;
}

h2 {
    font-size: 28px;
}

header {
    display: flex;
    flex-direction: row;
    width: 90vw;
    max-width: 900px;
    color: #0f0f0f;
    margin: auto; 
    align-content: center;
    text-align: center;
    justify-content: center;
    
     }
/*hasta aqui los parametros dados en la consigna*/

/* Configurando el menu de navegación */
.container-nav {
    position: fixed;
    z-index: 1000;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em;    
    margin: auto;
    background-color: white;
    box-shadow: 0px 3px 3px  #af599e;;
    }

.container-nav .logo {
    letter-spacing: 5px;
}

.container-nav .menu-icon {
    display: none;
}

.container-nav .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;      
}

.container-nav .menu ul li {
    list-style: none; 
    color: #0f0f0f;      
}

.container-nav .menu ul li a {    
    text-decoration: none;
    margin: auto;
    padding: 1em;
    color: #0f0f0f; 
    transition: all 0.3s linear;   
    border-radius: 5px;      
}

.container-nav .menu ul li a:visited {
    text-decoration: none; 
    color: #0f0f0f;
}

.container-nav .menu ul li a:hover { 
    color: white;
    background-color: #af599e;
}

/*Hasta aqui llega la configuración del menú de navegación */

/*Con esta regla se pretende centrar los lementos que componen el sitio web*/
.main {
    justify-content: space-around;
    padding-top: 3rem;
}

.inicio {
    padding-top: 2em;
}
/* Con esta regla se le dan las dimensiones a las secciones para que sean homogeneas */
section {
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
    margin: auto;   
    position: sticky; 
    }

/* Dandole estilo a la foto de presentación*/
.foto {
    width: 40vw;
    max-width: 400px;
    height: 65vh;
    max-height: 650px;
    object-fit: cover;
    border: solid 1.5px #af599e;
    border-radius: 1000px;
    margin: 0 auto;
    }

/* Configurando los parrafos*/
.parrafo1, .parrafo2, .imagenes {
    width: 60vw;
    max-width: 600px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    text-indent: 1em;
    }
.parrafo2 {
    width: auto;
    background-color: rgba(175, 89, 158, 0.3); 
    padding: 0.3em 1em 1em 1em;
}

/* Con esta regla se coloca sangría en los párrafos*/
p + p {
    text-indent: 1.5em;
    margin-top: 0 
}

/* Aqui se sonfigura la sección donde están los íconos de enlaces*/
.imagenes {
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    justify-content: space-around;
    }

/*.imagen {
    background-color: #af599e;   
    color: white; 
    width: 80%;
    height: 45%;
    padding: 3px 0;    
     align-items: center;
    text-align: center; 
   margin-left: 0.3em;
    margin-right: 0.3em;
}*/  

.iconos i  {
    background-color: #af599e;   
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 3em; 
    align-content: center; 
    align-items: center;
    padding-top: 0.2em;
    padding-right: 1.2em;
          
}

/* Configurando el footer */
footer {
    width: 80vw;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    
}
footer p {
    color: white;
    align-items: center;
    text-align: center;
    padding: 2em 0;
}

@media (max-width: 800px) {
    .foto {
        width: 470px;        
        height: 390px;
        object-fit: cover;
        border: solid 1.5px #af599e;
        border-radius: 1000px;
        margin: 0 auto;
        }
    
    .parrafo1, .parrafo2, .imagenes {
        width: 60vw;
        max-width: 600px;
        height: auto;
        align-items: center;
        margin: 0 auto;
        padding: 0 1em;
        text-indent: 1em;
        }
    .parrafo2 {
        width: auto;
        background-color: rgba(175, 89, 158, 0.3); 
        padding: 0.3em 1em 1em 1em;
    }   
}
@media (max-width: 600px) {
    .container-nav  .menu-icon {
        display: block;
        color: black;
    }
    
    .container-nav {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
        }
    
    .container-nav .logo {
        letter-spacing: 2px;
    }
    .container-nav .menu-icon,  .container-nav .menu ul {
        display: block;
    }
    .menu-icon {
        cursor: pointer;
    }

    .icon .menu ul {
        display: none;
    }


    .icon .menu ul.show{
        display: block;
    }

    figure img .foto {
        width: 10vw;
        height: 15vh;
        object-fit: cover;
        border: solid 1.5px #af599e;
        /*border-radius: 1000px;*/
        margin: 0 auto;
        }    
} 

@media (max-width: 450px){
    .foto {
        width: 260px;        
        height: 255px;
        object-fit: cover;
        border: solid 1.5px #af599e;
        border-radius: 1000px;
        margin: 0 auto;
        }
        h1 {
            font-size: 26px;
            text-align: center;
            margin: 1em 0;
            height: auto;
        }
    

}
